

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/736x/7d/b6/e7/7db6e71087192ed0aac4ad227518f3e4.jpg); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  text-align: center;
}

#mural {
  background: rgba(0, 213, 255, 0.541); 
  border: 3px solid #1a014693;
  border-radius: 15px;
  padding: 30px 50px;
  max-width: 600px;
   display: flex;
  flex-direction: column;   
  align-items: center;      
  text-align: center;       
  }
  

